@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:wght@100..900&family=Poppins:wght@100..900&display=swap");
@import "tailwindcss";
:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --fs16: 16px;
  --primary-color: #f4f1f2;
  --bg-pink: #be6471;
}
body {
  font-family: var(--font-montserrat);
  background-color: #f4f1f2;
}

.bg_primary {
  background-color: var(--primary-color);
}
.bg_pink {
  background-color: var(--bg-pink);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; 
}
.scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
