@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..1000&display=swap");
@import "tailwindcss";

:root {
  --font-dm-sans: "DM Sans", system-ui, -apple-system, sans-serif;
  --fs16: 16px;
  --primary-color: #f4f1f2;
  --bg-pink: #be6471;
}

body {
  font-family: var(--font-dm-sans);
  background-color: var(--primary-color);
}

.bg_primary {
  background-color: var(--primary-color);
}

.bg_pink {
  background-color: var(--bg-pink);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
